.flippic {
    border: 5px solid black;
    background-color: lightblue;
    min-width: 300px;
    width: 310px;
}

.flipiframe {
    border: 5px solid black;
    background-color: lightblue;
    min-width: 300px;
    width: 310px;
}
