.flippic {
    border: 5px solid black;
    background-color: lightblue;
    min-width: 300px;
    width: 310px;
}

.flipiframe {
    border: 5px solid black;
    background-color: lightblue;
}

nav {
    /*background-color: black; */
    padding: 0.1em;
    z-index: 100;
}

nav ul {
    display: flex;
    /* margin: 0 auto; */
    /* border: 0.1em yellow solid; */
    /* width: 25%; */
    justify-content: space-around;
    margin:0;
    z-index: 100;
}
